<h2>
	Show {{fusions.name}}
	<a href='/fusion/{{fusions.id}}/json'>
		<code>
		(JSON)
		</code>
	</a>
</h2>

<h3>Gems</h3>
{{#each fusions.gems}}
<p>{{this}}</p>
{{/each}}

<h3>Weapons</h3>
<p>{{fusions.weapon}}</p>

<h3>Powers</h3>
<p>{{fusions.power}}</p>

<h4>
	<a href='/fusion/{{fusions.id}}/edit' style="outline:solid">
		Edit
	</a>
</h4>